.root {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}
.rollList {
  height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
}
.rollInput {
  width: fill;
  font-size: medium;
}
.addButton {
  font-size: 200%;
  width: 8%;
  margin-left: 3%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-right: 5%;
}

.finishButton {
  font-size: large;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-right: 15%;
}
.svgButton {
  background-color: #696969;
  border: 0px;
  width: 50px;
  padding: 10px;
}
.svgEditImg {
  width: 70%;
  height: 100%;
}
.svgDeleteImg {
  width: 100%;
  height: 100%;
}
.listText {
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
