input {
  width: 35px;
}
.scoreText {
  width: 20%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-right: 0px;
  border-left: 0px;
}
.horiz {
  display: flex;
  flex-direction: row;
}
.buttonCenter {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
