.horiz {
  display: flex;
  justify-content: center;
}
p {
  color: white;
  font-size: 20px;
  margin: auto;
}
.inputAbility {
  height: 30px;
  width: 40px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
select {
  height: 40px;
}
