.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 99vh;
  max-width: 99vw;
  overflow-y: auto;
  overflow-x: hidden;
}
.categoryTitle {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 23px;
}
.abilityScoreText {
  width: 33%;
}
.speedButton {
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: grey;
}
.speedButton:hover {
  cursor: pointer;
}
.rollTables {
  flex: 1;
  table-layout: fixed;
  overflow-y: auto;
  max-height: 200px;
  max-width: 30%;
  min-width: 30%;
  margin-right: 1.7%;
  margin-left: 1.7%;
}
.tableHead {
  position: sticky;
  top: 0;
  background-color: rgb(83, 82, 82);
}
.row {
  background-color: grey;
  overflow: hidden;
}
.roll:hover {
  cursor: pointer;
}
.horiz {
  display: flex;
  flex-direction: row;
}
.horiz > div {
  flex: 1;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.Toastify__toast--warning {
  font-size: 13px;
  max-height: 16px;
  margin: 0;
}
.Toastify__toast--warning > div {
  margin: 0;
  padding: 0;
}
.horiz > div:first-child {
  border-left: 0;
}

.horiz > div:last-child {
  border-right: 0;
}

.dice-builder {
  flex: 1;
}
